* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--turquoise: #00c4c4;
	--winning-blocks: #fc5141;
}

body {
	color: var(--turquoise);
	font-family: "Comfortaa", cursive;
}

h1 {
	font-size: 56px;
	font-weight: 700;
}

button {
	padding: 15px 30px;
	border: none;
	border-radius: 8px;
	background-color: var(--turquoise);
	color: white;
	margin-top: 60px;
   font-family: "Comfortaa", cursive;
	font-size: 20px;
   font-weight: bold;
   text-transform: uppercase;
   letter-spacing: 1px;
}

.container,
.box,
#gameBoard {
	display: flex;
}

.container,
.box {
	justify-content: center;
	align-items: center;
}

.container {
	padding: 40px;
	height: 100vh;
	flex-direction: column;
}

.box {
	height: 150px;
	width: 150px;
	color: var(--turquoise);
	font-size: 124px;
	border-right: 2px solid;
	border-bottom: 2px solid;
}

.box:nth-child(3n) {
	border-right: none;
}

.box:nth-child(6) ~ .box {
	border-bottom: none;
}

#gameBoard {
	width: 450px;
	flex-wrap: wrap;
	margin-top: 40px;
}
