* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--turquoise: #00c4c4;
	--background-color: #212121;
	--winning-blocks: #161616;
}

html {
	background-color: var(--background-color);
	color: var(--turquoise);
	font-family: "Permanent Marker", cursive;
}

h1 {
	font-size: 2.5rem;
	margin: 40px;
}

button {
	padding: 15px 30px;
	border: 1px solid var(--turquoise);
	border-radius: 8px;
	background-color: transparent;
	color: var(--turquoise);
	margin-top: 80px;
	font-family: "Permanent Marker", cursive;
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: all 250ms ease-in-out;
}

button:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.container,
.box,
#gameBoard {
	display: flex;
}

.container,
.box {
	justify-content: center;
	align-items: center;
}

.container {
	padding: 40px;
	height: 100vh;
	flex-direction: column;
}

.box {
	height: 150px;
	width: 150px;
	color: var(--turquoise);
	font-size: 124px;
	border-right: 2px solid;
	border-bottom: 2px solid;
}

.box:nth-child(3n) {
	border-right: none;
}

.box:nth-child(6) ~ .box {
	border-bottom: none;
}

#gameBoard {
	width: 450px;
	flex-wrap: wrap;
	margin-top: 40px;
}
